@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #6ECCAF , #CFFDE1);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #344D67;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
}

h1{
    font-size: 400%;    
}

#question{
   
   font-size: 200%;     
}

ul li{
    list-style-type:none;
    margin: 10px;
   
}

ul li button{
    font-family: inherit;
    color: #CFFDE1;
    font-size: 100%;
    border: 2px solid #3D5656;
    padding: 15px 30px;
    border-radius: 30%;
    background-color: #3D5656;
}

.start-btn{
    background-color: #ADE792;
    border-color: #ADE792;
    border-radius: 50%;
    color: #CFFDE1;
    font-size: 400%;
    padding: 30px;
}
.hide{
    display: none;
}